{% extends "base.html" %}
{% load i18n %}
{% block title %}
{% trans "View profile" %} {{ account.username }}
{% endblock %}
{% block head %}
{% load static %}
{% include 'account/styles.html' %}
{% endblock %}
{% block content %}
<div class="page-content page-container" id="page-content">
   <div class="padding">
      <div class="row container d-flex justify-content-center">
         <div class="col-xl-11 col-md-12">
            {% include 'account/user_card.html' %}
            {% include 'account/reviews.html' %}
         </div>
      </div>
   </div>
</div>
{% include 'account/send_message_modal.html' %}
{% include 'account/create_review_modal.html' %}
{% endblock %}
{% block javascript %}
<script>
   const username = "{{ account.username }}"
   $(document).ready(function() {
       $(".rating-stars").each(function() {
           var ratingInput = $(this).find(".rating-input");
           var stars = $(this).find(".star");
           var selectedRating = ratingInput.val();
   
           stars.mouseover(function() {
               var rating = $(this).data("rating");
   
               stars.removeClass("active");
               $(this).addClass("active").prevAll().addClass("active");
           });
   
           stars.mouseout(function() {
               stars.removeClass("active");
               stars.each(function() {
                   if ($(this).data("rating") <= selectedRating) {
                       $(this).addClass("active");
                   }
               });
           });
   
           stars.click(function() {
               var rating = $(this).data("rating");
   
               stars.removeClass("selected");
               $(this).addClass("selected").prevAll().addClass("selected");
   
               ratingInput.val(rating);
   
               console.log(ratingInput.val()); // Вывод значения рейтинга в консоль
           });
       });
   });
   $(document).ready(function() {
      $('.masterstar').hover(
         function() {
            $(this).parent().find('.slavestar').each(function() {
               $(this).addClass('open');
            });
         },
         function() {
            $(this).parent().find('.slavestar').each(function() {
               $(this).removeClass('open');
            });
         }
      );
   });
   $(document).ready(function() {
      $('.masterstar').hover(
         function() {
            $(this).closest('.reviewstars').addClass('open');
         },
         function() {
            $(this).closest('.reviewstars').removeClass('open');
         }
      );
   });
</script>
<script src="{% static 'global/js/summernote.js' %}"></script>
<script src="{% static 'global/lang/summernote-ru-RU.min.js' %}"></script>
<script src="{% static 'account/js/view.js' %}"></script>
{% endblock %}