<!doctype html>
<html class="no-js" lang="zxx">

    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- <link rel="manifest" href="site.webmanifest"> -->
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'global/img/favicon.ico' %}">
        <!-- Place favicon.ico in the root directory -->

        <!-- CSS here -->
        <link rel="stylesheet" href="{% static 'global/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'global/css/animate.min.css' %}">
        <link rel="stylesheet" href="{% static 'global/css/magnific-popup.css' %}">
        <link rel="stylesheet" href="{% static 'global/css/fontawesome-all.min.css' %}">
        <link rel="stylesheet" href="{% static 'global/css/slick.css' %}">
        <link rel="stylesheet" href="{% static 'global/css/themify-icons.css' %}">
        <link rel="stylesheet" href="{% static 'global/css/style.css' %}">
        {% block head %} {% endblock %}
    </head>
    <body>


        <!-- header -->
        <header id="header-sticky" class="header transparent-header pt-70 pl-65 pr-65">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-xl-2 col-lg-3">
                        <div class="header__logo">
                            <a href="{% url 'main:main' %}"><img src="{% static 'global/img/logo/logo.svg' %}" alt="logo"></a>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-9">
                        <div class="header__menu main-menu text-center">
                            <nav class="navbar navbar-expand-lg">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
                                    <span class="navbar-icon"></span>
                                    <span class="navbar-icon"></span>
                                    <span class="navbar-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                                    <ul class="navbar-nav" id="categoryes-list">
                                    </ul>
                                </div>
                                
                            </nav>
                            
                        </div>
                        
                    </div>
                    <div class="col-xl-2 d-none d-xl-block">
                        <div class="header__btn text-right">
                            <a href="#" class="btn btn-login" id="button-login">Login</a>
                            <!-- <div class="btn-group">
                                <button type="button" class="btn btn-danger">Action</button>
                                <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <section class="breadcrumb-area breadcrumb-bg" data-background="{% static 'global/img/bg/breadc_bg.jpg' %}">
                
            </section>
            <section class="inner-blog pt-120 pt-70">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            {% block content %}
                            {% endblock %}
                            
                            {% block content_paginator %}
                            {% endblock %}
                        </div>
                    </div>
            </section>
        </main>

        <!-- JS here -->
        <script src="{% static 'global/js/vendor/modernizr-3.5.0.min.js' %}"></script>
        <script src="{% static 'global/js/vendor/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static 'global/js/popper.min.js' %}"></script>
        <script src="{% static 'global/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'global/js/one-page-nav-min.js' %}"></script>
        <script src="{% static 'global/js/slick.min.js' %}"></script>
        <script src="{% static 'global/js/ajax-form.js' %}"></script>
        <script src="{% static 'global/js/wow.min.js' %}"></script>
        <script src="{% static 'global/js/jquery.scrollUp.min.js' %}"></script>
        <script src="{% static 'global/js/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'global/js/plugins.js' %}"></script>
        <script src="{% static 'global/js/main.js' %}"></script>
        <script src="{% static 'global/js/render_header.js' %}"></script>
        {% block javascript %}{% endblock %}
    </body>
</html>