<!doctype html>
<html class="no-js" lang="zxx">

    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- <link rel="manifest" href="site.webmanifest"> -->
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'global/img/favicon.ico' %}">
        <!-- Place favicon.ico in the root directory -->
        
        <!-- CSS here -->
        <link rel="stylesheet" href="{% static 'global/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'global/css/animate.min.css' %}">
        <link rel="stylesheet" href="{% static 'global/css/magnific-popup.css' %}">
        <link rel="stylesheet" href="{% static 'global/css/fontawesome-all.min.css' %}">
        <link rel="stylesheet" href="{% static 'global/css/slick.css' %}">
        <link rel="stylesheet" href="{% static 'global/css/themify-icons.css' %}">
        <link rel="stylesheet" href="{% static 'global/css/style.css' %}">
        {% block head %} {% endblock %}
	<style>
        .note-group-select-from-files {
            display: none;
        }	
        @media screen and (orientation: portrait) {
            .header__logo {
                margin-top: 5px;
            }
            #buttons-login-menu {
                margin-top: -40px;
            }
        }
	</style>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    </head>
    <body>


        <!-- header -->
        <header id="header-sticky" class="header transparent-header pt-70 pl-65 pr-65">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-xl-2 col-lg-3">
                        <div class="header__logo">
                            <a href="{% url 'main:main' %}"><img src="{% static 'global/img/logo/logo.svg' %}" alt="logo"></a>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-9">
                        <div class="header__menu main-menu text-center">
                            <nav class="navbar navbar-expand-lg">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
                                    <span class="navbar-icon"></span>
                                    <span class="navbar-icon"></span>
                                    <span class="navbar-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                                    <ul class="navbar-nav" id="categoryes-list">
                                    </ul>
                                </div>
                                
                            </nav>
                            
                        </div>
                        
                    </div>
                    <div class="col-xl-2 d-xl-block">
                        <div class="header__btn text-right" id="buttons-login-menu">
                            <a href="#" class="btn btn-login" id="button-login" style="visibility: visible;">LOADING</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <section class="breadcrumb-area breadcrumb-bg" data-background="{% static 'global/img/bg/breadc_bg.jpg' %}">
                
            </section>
            <section class="inner-blog pt-120 pt-70 mb-80">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            {% block content %}
                            {% endblock %}
                            
                            {% block content_paginator %}
                            {% endblock %}
                        </div>
                    </div>
            </section>
        </main>
        <footer class="footer__bg pt-20" data-background="{% static 'global/img/bg/footer_bg.jpg' %}">
            <div class="container">
                <div class="row mb-10">
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                        <div class="footer__widget mb-10">
                            <div class="footer__widget-link">
                                <div class="footer__widget-title mb-20">
                                    <h4>Other Services</h4>
                                </div>
                                <ul>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="http://helper-tools.invilso.pp.ua/">HelperTools</a></li>
                                    <li><a href="http://banlist-tool.invilso.pp.ua/">BanlistTool</a></li>
                                    <li><a href="http://fracthelper.invilso.pp.ua/">FractHelper</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-2 col-md-6 col-sm-6">
                        <div class="footer__widget mb-10">
                            <div class="footer__widget-link">
                                <div class="footer__widget-title mb-20">
                                    <h4>Resources</h4>
                                </div>
                                <ul>
                                    
                                    <li><a href="#">Политика конфиденциальности</a></li>
                                    <li><a href="#">Лицензионное соглашение</a></li>
                                    <li><a href="#">Согласие на обработку данных</a></li>
                                    <li><a href="#">Политика возвратов платежей</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-6 col-sm-4">
                        <div class="footer__widget mb-10">
                            <div class="footer__widget-link">
                                <div class="footer__widget-title mb-20">
                                    <h4>Contacts</h4>
                                </div>
                                <ul>
                                    <li><a href="mailto:invilsomail@gmail.com">invilsomail@gmail.com</a></li>
                                    <li><a href="https://vk.com/invilso">VK</a></li>
                                    <li><a href="https://t.me/invilso">Telegram</a></li>
                                    <li><a href="https://vk.com/invilso_sc">VK Group</a></li>
                                </ul>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-6 col-sm-4">
                        <div class="footer__widget mb-10">
                            <div class="footer__widget-link">
                                <div class="footer__widget-title mb-55">
                                    
                                </div>
                                <ul>
                                    <li><a href="https://github.com/invilso">GitHub</a></li>
                                    <li><a href="https://www.linkedin.com/in/artur-scherban-421715175/">LinkedIn</a></li>
                                </ul>
                                
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="copyright-wrap">
                    <div class="row">
                        <div class="col-12">
                            <div class="copyright__text pt-35 pb-35 text-center">
                                <p>Functional: INVILSO SCRIPTS</p>
                                <p>Theme: BasicTheme</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- JS here -->
        <script src="{% static 'global/js/vendor/modernizr-3.5.0.min.js' %}"></script>
        <script src="{% static 'global/js/vendor/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static 'global/js/popper.min.js' %}"></script>
        <script src="{% static 'global/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'global/js/one-page-nav-min.js' %}"></script>
        <script src="{% static 'global/js/slick.min.js' %}"></script>
        <script src="{% static 'global/js/ajax-form.js' %}"></script>
        <script src="{% static 'global/js/wow.min.js' %}"></script>
        <script src="{% static 'global/js/jquery.scrollUp.min.js' %}"></script>
        <script src="{% static 'global/js/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'global/js/plugins.js' %}"></script>
        <script src="{% static 'global/js/main.js' %}"></script>
        <script src="{% static 'global/js/render_header.js' %}"></script>
        <script>
            let URL_MESSAGES = "{% url 'messanger:view' %}"
            let URL_LOGOUT = "{% url 'authentication:logout' %}"
        </script>
        {% block javascript %}{% endblock %}
    </body>
</html>