{% extends "bg2.html" %}
{% load i18n %}
{% block title %}
500 Internal Error
{% endblock %}

{% block head %}
<style>
    h1 {
        font-family: "Rubik";
        font-size: large;
    }
    .centered-text {
        text-align: center;
        display: table-cell;
        vertical-align: middle;
    }
</style>
{% endblock %}

{% block content %}
<div class="centered-text">
<h1 class="h1" style="font-size: 250px;">500</h1>
<h2>{% trans "An error has occurred on the server. Report it to any of the contacts listed below." %}</h2>
<h3>{% trans "Specify the exact time when the error occurred." %}</h3>
<h4>{% trans "Brief description of the error" %}: {{exception}}</h4>

</div>
{% endblock %}

