{% extends "base.html" %}
{% load i18n %}
{% block title %}
{{ post.title }}
{% endblock %}

{% block head %}
    {% load static %}
    <style>
        .rounded-image {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 1px solid #FFFFFF;
            object-fit: cover;
            object-position: center;
        }
    </style>
{% endblock %}

{% block content %}
<div class="col-lg-11 ">
    <h2 class="text-center my-3">{{post.title}}</h2>
    <img src="{{ MEDIA_URL }}{{post.photo.file}}" class="card-img-top" alt="Post Image">
    <div class="card-body mt-2">
        <!-- Автор и иконка пользователя -->
        <div class="d-flex align-items-center mb-2">
            <div class="d-flex align-items-center me-3">
                <i class="far fa-user me-1 text-primary"></i>
                <a class='text-primary' href="{% url 'account:view' username=post.owner %}" style="text-decoration: none;">{{post.owner}}</a>
            </div>
            <div class="d-flex align-items-center me-3">
                <i class="fas fa-comments me-1"></i>
                <span>{{ post.comments.count }}</span>
            </div>
            <div class="d-flex align-items-center me-3">
                <i class="fas fa-eye me-1"></i>
                <span>{{post.views.count}}</span>
            </div>
            <div class="text-muted">{{ post.timestamp|timesince }} {% trans "ago" %}</div>
        </div>
        <!-- Краткое содержание поста -->
        <div class="col-12 col-md-12">
            {{ post.text| safe }}
        </div>
    </div>
    <div class='row' style='margin-top: 20pt;'>
        <div style='margin-top: 20pt;' class='col-md-3 justify-content-center'>
            {% if post.price > 0 %}
            <a href="" class="btn btn-warning">{% trans "Buy for $" %}{{post.price}}</a>
            <a class="btn btn-dark" href="{% url 'posts:graph' pk=post.pk%}">Statistic</a>
            <br>
            <img src="{% static 'global/img/logo/visa.png' %}" alt="visa" width="35" height="30" style="margin-top: 10pt;">
            <img src="{% static 'global/img/logo/mastercard.png' %}" alt="mastercard" width="35" height="30" style="margin-left: 17px; margin-top: 10pt;">
            {% elif post.price == 0 %}
            {% for f in post.file.all %}
            <a href="{% url 'files:download' pk=f.id %}" class="btn btn-primary">{{f.file.name}}<br>{{f.file.size|filesizeformat}}</a>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <hr style='margin-top: 30pt;'>
    <div class="comment__wrap mt-50 pb-45">
        <div class="post__tag">
            <div class="comment__wrap-title">
                <h4>{% trans "Subcategories" %}</h4>
            </div>
                {% for subcat in post.subcategoryes.all %}
                <button type="button" class="btn btn-light disabled">{{subcat.name}}</button>
                {% endfor %}
        </div>
    </div>
    <hr style='margin-top: 20pt;'>
    <div class="comment__wrap pb-35 mb-35">
        <h4>{% trans "Comments" %}</h5>
        <div class="comment-widgets m-b-20">
            {% for comment in post.comments.all %}
                {% if comment.text != 'test' %}
                    <div class="d-flex flex-row comment-row">
                        <div class="p-2">
                            <span class="round">
                                {% if comment.owner.profile.photo.file %}
                                <img class="rounded-image" src="{{ MEDIA_URL }}{{ comment.owner.profile.photo.file }}" alt="{{ comment.owner }}" width="50" height='50'>
                                {% else %}
                                <img class="rounded-image" src="https://brilliant24.ru/files/cat/template_01.png" alt="{{comment.owner}}" width="50" height='50'>
                                {% endif %}
                            </span>
                        </div>
                        <div class="comment-text w-75">
                            <h6>{{comment.owner}}</h6>
                            <div class="comment-footer">
                                <span class="date">{{ comment.timestamp|timesince }} {% trans "ago" %}</span>
                            </div>
                            <p class="m-b-5 m-t-10">{{comment.text|safe}}</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% if user.is_authenticated %}
    <form class="form-inline my-2 my-lg-0 d-flex flex-row" action="{% url 'comments:create' %}" method="post">
        {% csrf_token %}
        <input id="token-input" style='display: none;' class="form-control mr-sm-2" type="token" name="token" placeholder="Search" value='{{ user.auth_token }}'>
        <input id="sender-input" style='display: none;' class="form-control mr-sm-2" type="sender" name="sender" placeholder="Search" value='{{ user.username }}'>
        <input id="search-input" style='display: none;' class="form-control mr-sm-2" type="rating" name="rating" placeholder="Search" value='3'>
        <input id="search-input" style='display: none;' class="form-control mr-sm-2" type="receiver" name="receiver" placeholder="Search" value='{{post.id}}'>
        <textarea id="comment-input"  class="form-control" placeholder="{% trans "Write here.." %}" rows="3" type="text" name="text"></textarea>
        <button id="comment-button" style="margin-left: 3pt;" type="submit" class="btn btn-primary">
            <i class="fas fa-paper-plane"></i> {% trans "Send" %}
        </button>                     
    </form>
    {% endif %}
    
</div>
{% endblock %}

{% block javascript %}
{% endblock %}
